<menu-drawer
  class="mobile-facets__wrapper{% if filter_type == 'horizontal' or filter_type == 'vertical' %} medium-hide large-up-hide{% endif %}"
  data-breakpoint="mobile"
>
  <details class="mobile-facets__disclosure disclosure-has-popup">
    <summary class="mobile-facets__open-wrapper focus-offset">
      <span class="mobile-facets__open">
        <span class="svg-wrapper">
          {{- 'icon-filter.svg' | inline_asset_content -}}
        </span>
        <span class="mobile-facets__open-label button-label">
          {%- if enable_filtering and enable_sorting -%}
            {{ 'products.facets.filter_and_sort' | t }}
          {%- elsif enable_filtering -%}
            {{ 'products.facets.filter_button' | t }}
          {%- elsif enable_sorting -%}
            {{ 'products.facets.sort_button' | t }}
          {%- endif -%}
        </span>
      </span>
      <span tabindex="0" class="mobile-facets__close">
        <span class="svg-wrapper">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
      </span>
    </summary>

    <facet-filters-form>
      <form id="FacetFiltersFormMobile" class="mobile-facets">
        <div class="mobile-facets__inner gradient">
          <div class="mobile-facets__header">
            <div class="mobile-facets__header-inner">
              <h2 class="mobile-facets__heading">
                {%- if enable_filtering and enable_sorting -%}
                  {{ 'products.facets.filter_and_sort' | t }}
                {%- elsif enable_filtering -%}
                  {{ 'products.facets.filter_button' | t }}
                {%- elsif enable_sorting -%}
                  {{ 'products.facets.sort_button' | t }}
                {%- endif -%}
              </h2>
              <p class="mobile-facets__count">
                {%- if results.results_count -%}
                  {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                {%- elsif results.products_count == results.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                {%- else -%}
                  {{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
                {%- endif -%}
              </p>
            </div>
          </div>

          <div class="mobile-facets__main gradient">
            {% if enable_filtering %}
              {%- comment -%} Size Filter {%- endcomment -%}
              <details
                class="mobile-facets__details js-filter"
                data-index="mobile-1"
              >
                <summary class="mobile-facets__summary focus-inset">
                  <div>
                    <span>Size</span>
                    <span class="mobile-facets__arrow">
                      {{- 'icon-arrow.svg' | inline_asset_content -}}
                    </span>
                  </div>
                </summary>
                <div class="mobile-facets__submenu gradient">
                  <button
                    class="mobile-facets__close-button link link--text focus-inset"
                    aria-expanded="true"
                    type="button"
                  >
                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                    <span>Size</span>
                  </button>

                  <ul class="mobile-facets__list" role="list">
                    {%- for size in size_array -%}
                      {% if size != blank %}
                        <li class="mobile-facets__item list-menu__item">
                          <label for="Filter-Size-Mobile-{{ forloop.index }}" class="mobile-facets__label">
                            <input
                              type="checkbox"
                              name="filter.v.option.size"
                              value="{{ size }}"
                              id="Filter-Size-Mobile-{{ forloop.index }}"
                              {% if results.current_vendor %}
                                {% if results.current_vendor == size %}
                                  checked
                                {% endif %}
                              {% endif %}
                            >
                            <span class="mobile-facets__highlight"></span>
                            {{- 'square.svg' | inline_asset_content -}}
                            {{- 'icon-checkmark.svg' | inline_asset_content -}}
                            <span>{{ size | capitalize }}</span>
                          </label>
                        </li>
                      {% endif %}
                    {%- endfor -%}
                  </ul>

                  <div class="mobile-facets__footer">
                    <facet-remove>
                      <a href="{{ results_url }}" class="mobile-facets__clear underlined-link">
                        {{ 'products.facets.clear' | t }}
                      </a>
                    </facet-remove>
                    <button
                      type="button"
                      class="button button--primary"
                      onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                    >
                      {{ 'products.facets.apply' | t }}
                    </button>
                  </div>
                </div>
              </details>

              {%- comment -%} Price Range Filter {%- endcomment -%}
              {%- for filter in results.filters -%}
                {% if filter.type == 'price_range' %}
                  <details
                    class="mobile-facets__details js-filter"
                    data-index="mobile-2"
                  >
                    <summary class="mobile-facets__summary focus-inset">
                      <div>
                        <span>{{ filter.label | escape }}</span>
                        <span class="mobile-facets__arrow">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                      </div>
                    </summary>
                    <div class="mobile-facets__submenu gradient">
                      <button
                        class="mobile-facets__close-button link link--text focus-inset"
                        aria-expanded="true"
                        type="button"
                      >
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                        {{ filter.label | escape }}
                      </button>

                      <p class="mobile-facets__info">
                        {{ 'products.facets.max_price' | t: price: filter.range_max | money }}
                      </p>

                      <price-range class="facets__price">
                        {% render 'price-facet', filter: filter, id_prefix: 'Mobile-Filter-' %}
                      </price-range>

                      <div class="mobile-facets__footer">
                        <facet-remove>
                          <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                            {{ 'products.facets.clear' | t }}
                          </a>
                        </facet-remove>
                        <button
                          type="button"
                          class="button button--primary"
                          onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                        >
                          {{ 'products.facets.apply' | t }}
                        </button>
                      </div>
                    </div>
                  </details>
                {% endif %}
              {%- endfor -%}
            {% endif %}

            {% if enable_sorting %}
              <div class="mobile-facets__details">
                <div class="mobile-facets__summary">
                  <div class="mobile-facets__sort">
                    <label for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
                    <div class="select">
                      <select
                        name="sort_by"
                        class="select__select"
                        id="SortBy-mobile"
                        aria-describedby="a11y-refresh-page-message"
                      >
                        {%- for option in results.sort_options -%}
                          <option
                            value="{{ option.value | escape }}"
                            {% if option.value == sort_by %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ option.name | escape }}
                          </option>
                        {%- endfor -%}
                      </select>
                      <span class="svg-wrapper">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>

          <div class="mobile-facets__footer">
            <facet-remove class="mobile-facets__clear-wrapper">
              <a href="{{ results_url }}" class="mobile-facets__clear underlined-link">
                {{ 'products.facets.clear_all' | t }}
              </a>
            </facet-remove>
            <button
              type="button"
              class="button button--primary"
              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
            >
              {{ 'products.facets.apply' | t }}
            </button>
          </div>
        </div>
      </form>
    </facet-filters-form>
  </details>
</menu-drawer>
